<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Locals</strong></a>
    <%= link_to "Novo", new_local_path, class: 'item' %>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
                <th>Name</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Zip code</th>
                <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @locals.each do |local| %>
        <tr>
                    <td><%= local.name %></td>
                    <td><%= local.country %></td>
                    <td><%= local.state %></td>
                    <td><%= local.city %></td>
                    <td><%= local.zip_code %></td>
                    <td>
            <div class="ui buttons">
            <%= link_to 'Exibir', local, class: 'ui blue basic button' %>
            <%= link_to 'Editar', edit_local_path(local), class: 'ui blue basic button' %>
            <%= link_to 'Remover', local, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui red basic button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>