<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Local</strong></a>
    <%= link_to 'Novo', new_local_path, class: 'item' %>
    <%= link_to 'Editar', edit_local_path(@local), class: 'item' %>
    <%= link_to 'Voltar', locals_path, class: 'item' %>
  </div>

    <p>
    <strong>Name:</strong>
    <%= @local.name %>
  </p>
    <p>
    <strong>Country:</strong>
    <%= @local.country %>
  </p>
    <p>
    <strong>State:</strong>
    <%= @local.state %>
  </p>
    <p>
    <strong>City:</strong>
    <%= @local.city %>
  </p>
    <p>
    <strong>Zip code:</strong>
    <%= @local.zip_code %>
  </p>
  
</div>
