<%= form_for(@user_story, html: {class: 'ui form'}) do |f| %>

  <% if @user_story.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :description %>
    <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :business_value %>
    <%= f.number_field :business_value %>
    </div>

    <div class="field">
      <%= f.label :story_points %>
    <%= f.number_field :story_points %>
    </div>

    <div class="field">
      <%= f.label :status %>
      <%= f.select :status, options_for_select({pendent: 1, development: 2, test: 3, completed: 4}), {}, { :class => 'ui search dropdown' } %>
    </div>

    <div class="field" id="theme_list">
      <%= f.label :theme_id %>
      <% sprints = current_project.themes.map {|sprint| [sprint.name, sprint.id] } %>
      <%= f.select(:theme_id, sprints, {:prompt => false}, {class: 'ui search dropdown'} ) %>
    </div>

    <div class="field">
      <%= f.label :sprint_id %>
      <%= f.collection_select( :sprint_id, Sprint.all, :id, :name, {:prompt=>false}, {class: 'ui search dropdown'} ) %>
    </div>

  <% end %>

<p></p>
<p></p>
<p></p>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});
</script>