<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>User Stories</strong></a>
    <%= link_to "Novo", new_user_story_path, class: 'item' %>
  </div>

  <%= render 'user_stories/breadcrumb' %>

  <table class="ui sortable very compact celled table">
    <thead>
      <tr>
        <th>Tema</th>
        <th>Descrição</th>
        <th title="Business Value">BV</th>
        <th title="Story Points">SP</th>
        <th>ROI</th>
        <th>Status</th>
        <th>Sprint</th>
        <th>Critérios de aceitação</th>
        <th>Tarefas</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @user_stories.each do |user_story| %>
        <tr>
          <td><%= user_story.theme.name unless user_story.theme.nil?  %></td>
          <td><%= user_story.description.truncate(25, omission: '...') %></td>
          <td><%= user_story.business_value %></td>
          <td><%= user_story.story_points %></td>
          <td><%= user_story.roi %></td>
          <td><%= user_story.status_label %></td>
          <td><%= user_story.sprint.name unless user_story.sprint.nil?  %></td>
          <td>
            <a class="ui compact teal icon mini button new_criterion" userstory="<%= user_story.id %>" title="Adicionar critério de aceitação"><i class="plus icon"></i> Adicionar</a>
            <p></p>
            <% user_story.user_story_acceptance_criterions.each do |c| %>
            <p>
              <%= link_to c, method: :delete, class: 'ui compact mini icon red basic button', title: 'Remover critério de aceitação' do %>
                <i class="trash icon"></i>
                Remover
              <% end %>
              <%= c.description %>
            </p>
            <% end %>
          </td>

          <td>
            <a class="ui compact teal icon mini button new_task" userstory="<%= user_story.id %>" title="Adicionar tarefa"><i class="plus icon"></i> Adicionar</a>
            <p></p>
            <% user_story.tasks.each do |s| %>
            <p>
              <%= link_to s, method: :delete, class: 'ui compact mini icon red basic button', title: 'Remover tarefa' do %>
                <i class="trash icon"></i>
                Remover
              <% end %>
              <%= s.description %>
            </p>
            <% end %>
          </td>
          
          <td>
            <div class="ui compact mini icon buttons">
            <%= link_to user_story, class: 'ui blue basic button' do %>
            <i class="search icon"></i>
            <% end %>

            <%= link_to edit_user_story_path(user_story), class: 'ui blue basic button' do %>
            <i class="edit icon"></i>
            <% end %>

            <%= link_to user_story, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui red basic button' do %>
            <i class="trash icon"></i>
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- MODAL CRITÉRIOS DE ACEITAÇÃO -->
<div class="ui container">
  <div class="ui small modal criterion">
    
    <div class="header">
      Adicionar critério de aceitação
    </div>
    
    <div class="content">
      <div class="ui grid">
        <div class="row">
          <div class="sixteen wide tablet eight wide computer column">
            <%= form_for(@criterion, html: {class: 'ui form'}) do |f| %>

              <div class="field">
                <label><strong>Descrição: </strong></label>
                <%= f.text_field :description %>
              </div>
              
              <div class="field">
                <%= f.hidden_field :user_story_id %>
                <%= f.hidden_field :status, value: '1' %>
              </div>

              <div class="field">
                <%= f.submit 'Adicionar', class: 'ui teal button' %>
              </div>
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</div>
<!-- /MODAL CRITÉRIOS DE ACEITAÇÃO -->

<!-- MODAL TAREFA -->
<div class="ui container">
  <div class="ui small modal task">
    
    <div class="header">
      Adicionar tarefa
    </div>
    
    <div class="content">
      <div class="ui grid">
        <div class="row">
          <div class="sixteen wide tablet eight wide computer column">
            <%= form_for(@task, html: {class: 'ui form'}) do |f| %>

              <div class="field">
                <label><strong>Descrição: </strong></label>
                <%= f.text_area :description %>
              </div>
              
              <div class="field">
                <label><strong>Skills necessárias: </strong></label>
                <%= f.select :ability_ids, Ability.all.collect {|x| [x.name, x.id]}, {prompt: 'Selecionar Skills'}, multiple: true, class: "ui search dropdown" %>
              </div>
              
              <div class="field">
                <%= f.hidden_field :user_story_id %>
                <%= f.hidden_field :status, value: '1' %>
              </div>

              <div class="field">
                <%= f.submit 'Adicionar', class: 'ui teal button' %>
              </div>
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</div>
<!-- /MODAL TAREFA -->

<script type="text/javascript">
  $(document).ready(function() {
    //$('.sortable').tablesort();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});

  $('.button.new_criterion').click(function(){
    $('#user_story_acceptance_criterion_user_story_id').val($(this).attr('userstory'));
    $('.ui.modal.criterion').modal('show');
    return false;
  });

  $('.button.new_task').click(function(){
    $('#task_user_story_id').val($(this).attr('userstory'));
    $('.ui.modal.task').modal('show');
    return false;
  });
</script>