<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>User Stories</strong></a>
    <%= link_to "Novo", new_user_story_path, class: 'item' %>
  </div>

  <%= render 'user_stories/breadcrumb' %>

  <table class="ui celled table">
    <thead>
      <tr>
                <th>Description</th>
                <th>Business value</th>
                <th>Story points</th>
                <th>Status</th>
                <th>Theme</th>
                <th>Sprint</th>
                <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @user_stories.each do |user_story| %>
        <tr>
                    <td><%= user_story.description %></td>
                    <td><%= user_story.business_value %></td>
                    <td><%= user_story.story_points %></td>
                    <td><%= user_story.status %></td>
                    <td><%= user_story.theme_id %></td>
                    <td><%= user_story.sprint_id %></td>
                    <td>
            <div class="ui buttons">
            <%= link_to 'Exibir', user_story, class: 'ui blue basic button' %>
            <%= link_to 'Editar', edit_user_story_path(user_story), class: 'ui blue basic button' %>
            <%= link_to 'Remover', user_story, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui red basic button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>