<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>User Story</strong></a>
    <%= link_to 'Novo', new_user_story_path, class: 'item' %>
    <%= link_to 'Editar', edit_user_story_path(@user_story), class: 'item' %>
    <%= link_to 'Voltar', user_stories_path, class: 'item' %>
  </div>

    <p>
    <strong>Description:</strong>
    <%= @user_story.description %>
  </p>
    <p>
    <strong>Business value:</strong>
    <%= @user_story.business_value %>
  </p>
    <p>
    <strong>Story points:</strong>
    <%= @user_story.story_points %>
  </p>
    <p>
    <strong>Status:</strong>
    <%= @user_story.status %>
  </p>
    <p>
    <strong>Theme:</strong>
    <%= @user_story.theme_id %>
  </p>
    <p>
    <strong>Sprint:</strong>
    <%= @user_story.sprint_id %>
  </p>
  
</div>
