<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Function</strong></a>
    <%= link_to 'Novo', new_function_path, class: 'item' %>
    <%= link_to 'Editar', edit_function_path(@function), class: 'item' %>
    <%= link_to 'Voltar', functions_path, class: 'item' %>
  </div>

    <p>
    <strong>Name:</strong>
    <%= @function.name %>
  </p>
    <p>
    <strong>Description:</strong>
    <%= @function.description %>
  </p>
  
</div>
