<div class="ui centered grid container">
  <div class="five wide column">
    <h2>Entrar</h2>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui form'}) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="inline field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar", class: 'ui button teal' %>
      </div>
    <% end %>

    <p></p>
    <p></p>
    <p></p>
    <%# render "users/shared/links" %>
  </div>
</div>
