<%= form_for(@theme, html: {class: 'ui form'}) do |f| %>

  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @theme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :project_id %>
      <%= f.collection_select( :project_id, Project.all, :id, :name, {:prompt => 'Projeto'}, {class: 'ui search dropdown', placeholder: 'Projeto'} ) %>
    </div>

    <div class="field">
      <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
    <%= f.text_area :description %>
    </div>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});
</script>