<div class="ui container">
  <h1>Configurações</h1>
  <hr>

  <div class="ui four cards">
    <div class="card">
      <div class="content">
        <div class="header">Funções</div>
        <div class="description">
          Configure aqui papéis desempenhados pelos membros da equipe nos projetos.
        </div>
      </div>

      <button class="ui bottom attached button" onclick="window.location.href='<%= functions_path %>'">
        <i class="settings icon"></i>
        Gerenciar
      </button>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Idiomas</div>
        <div class="description">
          Configure aqui os idiomas disponíveis para usuários.
        </div>
      </div>

      <button class="ui bottom attached button" onclick="window.location.href='<%= languages_path %>'">
        <i class="settings icon"></i>
        Gerenciar
      </button>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Skills</div>
        <div class="description">
          Configure aqui as habilidades necessárias para executar tarefas nos projetos.
        </div>
      </div>

      <button class="ui bottom attached button" onclick="window.location.href='<%= abilities_path %>'">
        <i class="settings icon"></i>
        Gerenciar
      </button>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Locais</div>
        <div class="description">
          Configure aqui os localidades disponíveis para os membros das equipes e projetos.
        </div>
      </div>

      <button class="ui bottom attached button" onclick="window.location.href='<%= locals_path %>'">
        <i class="settings icon"></i>
        Gerenciar
      </button>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Temas</div>
        <div class="description">
          Configure aqui os temas das user stories dos projetos
        </div>
      </div>

      <button class="ui bottom attached button" onclick="window.location.href='<%= themes_path %>'">
        <i class="settings icon"></i>
        Gerenciar
      </button>
    </div>

  </div>
</div>