<%= form_for(@sprint, html: {class: 'ui form'}) do |f| %>

  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="inline field">
      <%= f.label :start_date %>
    <%= f.date_select :start_date %>
    </div>

    <div class="inline field">
      <%= f.label :end_date %>
    <%= f.date_select :end_date %>
    </div>

    <div class="inline field">
      <%= f.label :planning_start_date %>
    <%= f.date_select :planning_start_date %>
    </div>

    <div class="inline field">
      <%= f.label :planning_end_date %>
    <%= f.date_select :planning_end_date %>
    </div>

    <div class="inline field">
      <%= f.label :execution_start_date %>
    <%= f.date_select :execution_start_date %>
    </div>

    <div class="inline field">
      <%= f.label :execution_end_date %>
    <%= f.date_select :execution_end_date %>
    </div>

    <div class="inline field">
      <%= f.label :review_meeting_date %>
    <%= f.date_select :review_meeting_date %>
    </div>

    <div class="inline field">
      <%= f.label :retrospective_meeting_date %>
    <%= f.date_select :retrospective_meeting_date %>
    </div>

    <div class="inline field">
      <%= f.label :release_id %>
      <%= f.collection_select(:release_id,Release.all,:id,:version,{:prompt=>true},{class: 'ui search dropdown'}) %>
    </div>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});
</script>