<%= form_for(@sprint, html: {class: 'ui form'}) do |f| %>

  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="inline field"><label>Duração</label></div>
  <div class="inline fields">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :start_date, placeholder: 'Data inicial' %>
      </div>
    </div>
    <p style="margin-right: 1em; margin-left: 1em">à</p>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :end_date, placeholder: 'Data final' %>
      </div>
    </div>
  </div>

  <div class="inline field"><label>Planejamento</label></div>
  <div class="inline fields">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :planning_start_date, placeholder: 'Data inicial' %>
      </div>
    </div>
    <p style="margin-right: 1em; margin-left: 1em">à</p>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :planning_end_date, placeholder: 'Data final' %>
      </div>
    </div>
  </div>

  <div class="inline field"><label>Execução</label></div>
  <div class="inline fields">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :execution_start_date, placeholder: 'Data inicial' %>
      </div>
    </div>
    <p style="margin-right: 1em; margin-left: 1em">à</p>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :execution_end_date, placeholder: 'Data final' %>
      </div>
    </div>
  </div>

  <div class="inline field">
    <label>Review meeting</label>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :review_meeting_date, placeholder: 'Data' %>
      </div>
    </div>
  </div>

  <div class="inline field">
    <label>Retrospective meeting</label>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :retrospective_meeting_date, placeholder: 'Data' %>
      </div>
    </div>
  </div>

  <div class="inline field">
    <%= f.label :release_id %>
    <%= f.collection_select(:release_id,Release.all,:id,:version,{:prompt=>true},{class: 'ui search dropdown'}) %>
  </div>
<% end %>

<p></p>
<p></p>
<p></p>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});

  $('.ui.calendar').calendar({type: 'date'});
</script>