<%= form_for(@project, html: {class: 'ui form'}) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="inline field"><label>Duração</label></div>
  <div class="inline fields">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :start_date, placeholder: 'Data inicial' %>
      </div>
    </div>
    <p style="margin-right: 1em; margin-left: 1em">à</p>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.text_field :end_date, placeholder: 'Data final' %>
      </div>
    </div>
  </div>

  <div class="inline field">
    <%= f.label :local_id %>
    <%= f.collection_select(:local_id, Local.all, :id, :name, {:prompt => true}, {class: 'ui search dropdown'}) %>
  </div>
<% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});

  $('.ui.calendar').calendar({type: 'date'});
</script>