<div class="ui four cards">
<% @projects.each do |project| %>
  <div class="card">
    <div class="content">
      <div class="header"><%= project.name %></div>
    </div>

    <div class="content">
      <div class="description">
        <p class="info"><strong>Iniciado em:</strong> <%= l project.start_date %></p>
        <p class="info"><strong>Termino previsto:</strong> <%= l project.end_date %></p>
        <p class="info"><strong>Membros:</strong> <%= project.members_number %></p>
        <p class="info"><strong>Sprint atual:</strong> <%= project.current_sprint %></p>
        <p></p>
        <div class="ui teal progress" id="project-progress" data-percent="<%= project.progress %>">
          <div class="bar"></div>
          <div class="label">
            <%= project.progress %>%
          </div>
        </div>
      </div>
    </div>

    <button class="ui bottom attached button" onclick="window.location.href='<%= select_project_path(project) %>'">
      <i class="settings icon"></i>
      Gerenciar
    </button>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $('.progress').progress();
</script>