<h1>Scrumboard</h1>

<div class="ui top attached tabular menu">
  <% @project.sprints.each_with_index do |sprint, i| %>
    <a class="item <%= 'active' if i == 0 %>" data-tab="tab-<%= sprint.id %>"><%= sprint.name %></a>
  <% end %>
</div>

<% @project.sprints.each_with_index do |sprint, i| %>
<div class="ui bottom attached tab segment <%= 'active' if i == 0 %>" data-tab="tab-<%= sprint.id %>">

  <table class="ui very compact celled table">
    <thead>
      <tr>
        <th>Duração</th>
        <th>Planejamento</th>
        <th>Execução</th>
        <th>Review meeting</th>
        <th>Retrospective meeting</th>
        <th>Release</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= l sprint.start_date %> à <%= l sprint.end_date %>    
        </td>
        <td>
          <%= l sprint.planning_start_date %> à <%= l sprint.planning_end_date %>    
        </td>
        <td>
          <%= l sprint.execution_start_date %> à <%= l sprint.execution_end_date %>    
        </td>
        <td><%= l sprint.review_meeting_date %></td>
        <td><%= l sprint.retrospective_meeting_date %></td>
        <td><%= sprint.release.version unless sprint.release.nil? %></td>
      </tr>
    </tbody>
  </table>

  <div class="ui teal progress" id="sprint-progress" data-percent="<%= sprint.progress %>">
    <div class="bar"></div>
    <div class="label">
      <%= sprint.progress %>% Concluído
    </div>
  </div>

  <table class="ui very compact celled table">
    <thead>
      <tr>
        <th width="25%">Para fazer</th>
        <th width="25%">Fazendo</th>
        <th width="25%">Teste</th>
        <th width="25%">Concluído</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <%= render partial: 'projects/modal_tasks', locals: {us: us} %>

          <% us.tasks.where(status: 1).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class="ui orange card">
              <div class="content">
                <div class="header">Tarefa</div>
                <div class="meta">
                  <span class="category"><%= task.description %></span>
                </div>
                <div class="description">
                  <% if task.abilities.count > 0 %>
                  <p>
                    <strong>
                      <i class="gift icon"></i>
                      Recompensa(s):
                    </strong><br>
                    <%= us.story_points %> pontos de XP na(s) Skill(s):
                    <% task.abilities.each do |a| %>
                      <br>- <%= a.name %>
                    <% end %>
                  </p>
                  <% end %>

                  <p>
                    <a href="#" data-modal="usertory-<%= us.id %>" class="ui compact mini button modal-task">
                      <i class="search icon"></i>
                      Detalhes
                    </a>

                    <%= link_to take_task_path(task.id), class: 'ui compact mini teal button' do %>
                      <i class="share icon"></i>
                      Fazer
                    <% end %>
                  </p>

                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <%= image_tag 'image.svg', class: 'ui avatar image' %> <%= u.name %>
                  <% end %>
                  <%# image_tag 'image.svg', class: 'ui avatar image' %> <!-- Sicrano -->
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <%# render partial: 'projects/modal_tasks', locals: {us: us} %>

          <% us.tasks.where(status: 2).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class="ui teal card">
              <div class="content">
                <div class="header">Tarefa</div>
                <div class="meta">
                  <span class="category"><%= task.description %></span>
                </div>
                <div class="description">
                  <% if task.abilities.count > 0 %>
                  <p>
                    <strong>
                      <i class="gift icon"></i>
                      Recompensa(s):
                    </strong><br>
                    <%= us.story_points %> pontos de XP na(s) Skill(s):
                    <% task.abilities.each do |a| %>
                      <br>- <%= a.name %>
                    <% end %>
                  </p>
                  <% end %>

                  <div class="ui compact mini icon buttons">
                    <a href="#" data-modal="usertory-<%= us.id %>" class="ui compact mini icon button modal-task" title="Detalhes">
                      <i class="search icon"></i>
                    </a>

                    <%= link_to get_out_task_path(task.id), class: 'ui compact mini orange button' do %>
                      <i class="reply icon"></i>
                      Sair
                    <% end %>

                    <%= link_to take_task_path(task.id), class: 'ui compact mini teal button' do %>
                      <i class="sign in icon"></i>
                      Ajudar
                    <% end %>

                    <%= link_to send_task_to_test_path(task.id), class: 'ui compact mini blue button', title: 'Enviar para teste' do %>
                      <i class="share icon"></i>
                      Teste
                    <% end %>
                  </div>

                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <%= image_tag 'image.svg', class: 'ui avatar image' %> <%= u.name %>
                  <% end %>
                  <%# image_tag 'image.svg', class: 'ui avatar image' %> <!-- Sicrano -->
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <%# render partial: 'projects/modal_tasks', locals: {us: us} %>

          <% us.tasks.where(status: 3).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class="ui blue card">
              <div class="content">
                <div class="header">Tarefa</div>
                <div class="meta">
                  <span class="category"><%= task.description %></span>
                </div>
                <div class="description">
                  <% if task.abilities.count > 0 %>
                  <p>
                    <strong>
                      <i class="gift icon"></i>
                      Recompensa(s):
                    </strong><br>
                    <%= us.story_points %> pontos de XP na(s) Skill(s):
                    <% task.abilities.each do |a| %>
                      <br>- <%= a.name %>
                    <% end %>
                  </p>
                  <% end %>

                  <div class="ui compact mini icon buttons">
                    <a href="#" data-modal="usertory-<%= us.id %>" class="ui compact mini icon button modal-task" title="Detalhes">
                      <i class="search icon"></i>
                    </a>

                    <%= link_to get_out_task_path(task.id), class: 'ui compact mini orange button' do %>
                      <i class="reply icon"></i>
                      Sair
                    <% end %>

                    <%= link_to take_task_path(task.id), class: 'ui compact mini teal button', title: 'Participar da tarefa' do %>
                      <i class="sign in icon"></i>
                      Ajudar
                    <% end %>

                    <%= link_to redo_task_path(task.id), class: 'ui compact mini teal button', title: 'Enviar para teste' do %>
                      <i class="reply icon"></i>
                      Refazer
                    <% end %>

                    <%= link_to done_task_path(task.id), class: 'ui compact mini green button' do %>
                      <i class="share icon"></i>
                      Pronto
                    <% end %>
                  </div>

                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <%= image_tag 'image.svg', class: 'ui avatar image' %> <%= u.name %>
                  <% end %>
                  <%# image_tag 'image.svg', class: 'ui avatar image' %> <!-- Sicrano -->
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>

        <td class="top aligned">
          <% sprint.user_stories.each do |us| %>
          
          <% us.tasks.where(status: 4).each do |task| %>
            <p></p>
            <!-- CARD -->
            <div class="ui green card">
              <div class="content">
                <div class="header">Tarefa</div>
                <div class="meta">
                  <span class="category"><%= task.description %></span>
                </div>
                <div class="description">
                  <% if task.abilities.count > 0 %>
                  <p>
                    <strong>
                      <i class="gift icon"></i>
                      Recompensa(s):
                    </strong><br>
                    <%= us.story_points %> pontos de XP na(s) Skill(s):
                    <% task.abilities.each do |a| %>
                      <br>- <%= a.name %>
                    <% end %>
                  </p>
                  <% end %>

                  <div class="ui compact mini icon buttons">
                    <a href="#" data-modal="usertory-<%= us.id %>" class="ui compact mini icon button modal-task" title="Detalhes">
                      <i class="search icon"></i>
                    </a>

                    <%= link_to redo_task_path(task.id), class: 'ui compact mini teal button', title: 'Enviar para teste' do %>
                      <i class="reply icon"></i>
                      Refazer
                    <% end %>
                  </div>
                  <p></p>
                  <% unless task.start_date.nil? %>
                  <p>
                    <strong>Inicio em:</strong>
                    <%= l task.start_date %>
                  </p>
                  <% end %>
                  
                  <% unless task.end_date.nil? %>
                  <p>
                    <strong>Concluído em:</strong>
                    <%= l task.end_date %>
                  </p>
                  <% end %>
                </div>
              </div>
              <div class="extra content">
                <div class="right floated author">
                  <% task.users.each do |u| %>
                    <%= image_tag 'image.svg', class: 'ui avatar image' %> <%= u.name %>
                  <% end %>
                  <%# image_tag 'image.svg', class: 'ui avatar image' %> <!-- Sicrano -->
                </div>
              </div>
            </div>
          <% end %>
          <!-- /CARD -->
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>


<script type="text/javascript">
  $('.tabular.menu .item').tab();

  $('.modal-task').click(function(){
    $('.'+$(this).attr('data-modal')).modal('show');
    return false;
  });

  $('.progress').progress();
</script>