<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Abilities</strong></a>
    <%= link_to "Novo", new_ability_path, class: 'item' %>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Scope</th>
                <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @abilities.each do |ability| %>
        <tr>
                    <td><%= ability.name %></td>
                    <td><%= ability.description %></td>
                    <td><%= ability.scope %></td>
                    <td>
            <div class="ui buttons">
            <%= link_to 'Exibir', ability, class: 'ui blue basic button' %>
            <%= link_to 'Editar', edit_ability_path(ability), class: 'ui blue basic button' %>
            <%= link_to 'Remover', ability, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui red basic button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>