<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Ability</strong></a>
    <%= link_to 'Novo', new_ability_path, class: 'item' %>
    <%= link_to 'Editar', edit_ability_path(@ability), class: 'item' %>
    <%= link_to 'Voltar', abilities_path, class: 'item' %>
  </div>

    <p>
    <strong>Name:</strong>
    <%= @ability.name %>
  </p>
    <p>
    <strong>Description:</strong>
    <%= @ability.description %>
  </p>
    <p>
    <strong>Scope:</strong>
    <%= @ability.scope %>
  </p>
  
</div>
