<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong>Membros</strong></a>
    <%= link_to "Novo", new_function_user_project_path, class: 'item' %>
  </div>

  <%= render 'function_user_projects/breadcrumb' %>

  <table class="ui celled table">
    <thead>
      <tr>
                <th>User</th>
                <th>Function</th>
                <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @function_user_projects.each do |function_user_project| %>
        <tr>
                    <td><%= function_user_project.user.name %></td>
                    <td><%= function_user_project.function.name %></td>
                    <td>
            <div class="ui buttons">
            <%= link_to 'Exibir', function_user_project, class: 'ui blue basic button' %>
            <%= link_to 'Editar', edit_function_user_project_path(function_user_project), class: 'ui blue basic button' %>
            <%= link_to 'Remover', function_user_project, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'ui red basic button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>