<%= form_for(@release, html: {class: 'ui form'}) do |f| %>

  <% if @release.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :version %>
    <%= f.text_field :version %>
    </div>

    <div class="inline field">
      <%= f.label :deliver_date %>
    <%= f.date_select :deliver_date %>
    </div>

  <% end %>

<script type="text/javascript">
  $('.save').click(function(){
    $('form').submit();
  });

  $('.ui.search.dropdown').dropdown({ allowLabels:true});
</script>