<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon">
  <%= link_to root_path, class: "#{is_current_page?(dashboard_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>

  <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
  <i class="sitemap icon"></i>
  Projetos
  <% end %>

  <%= link_to users_path, class: "#{is_current_page?(users_path)} item" do %>
  <i class="users icon"></i>
  Usuários
  <% end %>
  
  <%= link_to functions_path, class: "#{is_current_page?(functions_path)} item" do %>
  <i class="setting icon"></i>
  Funções
  <% end %>

  <%= link_to languages_path, class: "#{is_current_page?(languages_path)} item" do %>
  <i class="talk icon"></i>
  Languagens
  <% end %>

  <%= link_to abilities_path, class: "#{is_current_page?(abilities_path)} item" do %>
  <i class="setting icon"></i>
  Habilidades
  <% end %>

  <%= link_to locals_path, class: "#{is_current_page?(locals_path)} item" do %>
  <i class="marker icon"></i>
  Localidades
  <% end %>

</div>