<ul class="nav navbar-nav">
     <li><%= link_to "Projetos",projects_path %></li>
     <li><%= link_to "Usuarios",new_user_registration_path %></li>
     <li><%= link_to "Funções",functions_path %></li>
     <li><%= link_to "Languagens",languages_path %></li>
     <li><%= link_to "Sprints",sprints_path %></li>
     <li><%= link_to "Atividades",tasks_path %></li>
     <li><%= link_to "Languagens",languages_path %></li>
     <li><%= link_to "Temas",themes_path %></li>
     <li><%= link_to "Habilidades",abilities_path %></li>
     <li><%= link_to "Localidades",locals_path %></li>
     <li><%= link_to "Release",releases_path %></li>
     <li><%= link_to "User Story",user_stories_path %></li>
     <li><%= link_to "User Habilidades",user_abilities_path %></li>
     <li><%= link_to "Requerimentos de atividade",task_requirements_path %></li>          
     <li><%= link_to "Criterios de aceitação",user_story_acceptance_criterions_path %></li>
     <li> <%= link_to "Sair", destroy_user_session_path,  method: :delete, data: { confirm: 'Você deseja sair??' } %></li>
</ul>