<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon">
  <%= link_to root_path, class: "item" do %>
    <%= image_tag "avatar.svg", class: "ui small circular image" %>
    <br>
    <%= current_user.name %>
  <% end %>

  <%= link_to root_path, class: "#{is_current_page?(dashboard_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>

  <%= link_to projects_path, class: "#{is_current_page?(projects_path)} item" do %>
  <i class="grid layout icon"></i>
  Projetos
  <% end %>
  
  <%= link_to ranks_path, class: "#{is_current_page?(ranks_path)} item" do %>
  <i class="trophy icon"></i>
  Ranks
  <% end %>

  <%= link_to achievements_path, class: "#{is_current_page?(achievements_path)} item" do %>
  <i class="book icon"></i>
  <!-- Achievement -->
  Minhas Conquistas
  <% end %>

</div>